* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/*============= Common ==============*/
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

.btn {
    /* --height: 60px -> dùng để khi sữa chiều cao thì cái line-height nó ăn thể để cho cái chữ nó nằm giữa */
    --height: 60px;

    display: inline-block;
    min-width: 205px;
    height: var(--height);
    /* padding: 0 20px -> trên dưới 0 là do mình để chiều cao rồi */
    padding: 0 20px;
    border-radius: 99px;
    border: 1px solid #2e80ce;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    /* line-height: 60px -> dùng để cho cái chữ nó nằm giữa */
    line-height: var(--height);
    color: #fff;
    background-color: #2e80ce;
}

.btn:hover {
    opacity: 0.8;
    /* cursor: pointer -> để đảm bảo trong tình huống không dùng class btn cho thẻ a mà lại dùng cho thẻ button thì nó vãn có cursor: pointer */
    cursor: pointer;
}

.section-heading {
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375c;
}

.section-desc {
    margin-top: 18px;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
    color: #575f66;
}

.control {
    display: flex;
    column-gap: 18px;
}

.control__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575f66;
    outline: none;
    color: #575f66;
    background-color: #fff;
    transition: 0.25s;
}

.control__btn:hover {
    color: #fff;
    border-color: #2e80ce;
    background-color: #2e80ce;
    cursor: pointer;
}

.control-next-icon {
    rotate: 180deg;
}

/*============= Header ==============*/
.header {
    min-height: 100vh;
    /* padding-top: 30px -> như thường lệ thì dùng nó ở cái header-top nhưng nếu dùng ở header-top thì khi làm fixed hoặc sticky thì cái padding bên trên nó sẽ bị lệch nên ta dùng nó ở đây*/
    padding-top: 30px;
    background-color: var(--header-bg);
}

.logo {
    position: relative;
    /* display: inline-flex -> để cho cái logo__circle vs logo__brand nó nằm ngang vì ở chỗ logo__brand mk sử dụng display: block nên logo__brand nó nằm dưới cái logo__circle và nó có độ rộng bằng nội dung nó chứa */
    display: inline-flex;
    /* font-size: 1rem -> để khi mà muốn tăng giảm kích thước phần logo thì chỉ cần tác động 1 chỗ là tất cả những cái khác trong phần logo nó sẽ bị tác động theo */
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background-color: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background-color: #ffffff;
}

.logo__text {
    margin-left: 0.6em;
    /* text-align: right -> để cho cái logo__text nó căn phải */
    text-align: right;
    line-height: 1.6em;
}

.logo__brand {
    /* display: block -> để cho 2 chữ shine với smile nó nằm trên 2 hàng */
    display: block;
    font-family: "Sora", sans-serif;
    font-size: 1.8em;
    font-weight: 400;
    color: #fff;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

/*============= Header top ==============*/
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.header-action__login,
.navbar__link {
    padding: 8px 21px;
    font-size: 1.6rem;
    font-weight: 300;
    color: #c9d2da;
}

.navbar__link:hover,
.navbar__link--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    position: relative;
    top: -2px;
    left: -8px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
}

.header-action {
    /* display: flex -> dùng để loại bỏ khoảng trắng ở giữa log in và sign up vì thẻ a và thẻ button là thẻ inline hoặc là inline-block thì trong code nó có cái dấu cách hoặc là dấu xuống hàng thì nó sẽ tạo ra 1 khoảng trắng trên giao diện cho nên dùng display:  flex để laoij bỏ nó || còn align-item: center -> dùng để căn giữa*/
    display: flex;
    align-items: center;
}

.header-action__login {
    /* margin-right: 7px -> đáng lẽ là 28px nhưng vì .header-action__login nó có viết chúng với .navbar__link nên có có sẵn 21px rồi nên giờ chỉ cần thêm 7px*/
    margin-right: 7px;
}

.header-action__signup {
    --height: 44px;
    min-width: 104px;
}

/*============= Hero ==============*/
.hero {
    display: flex;
    /* align-items: center -> dùng để khối hero__content và khối hero__images nó căn giữa */
    align-items: center;
    margin-top: 76px;
}

.hero__content {
    /* flex-shrink: 0 -> dùng để khắc phục phần hero__content nó bị co nhỏ lại  */
    flex-shrink: 0;
    width: 44%;
}

.hero__media {
    /* flex-grow: 1 -> để khối hero__media chiếm hết phần còn lại */
    flex-grow: 1;
}

.hero__heading {
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #fff;
}

.hero__desc {
    margin-top: 22px;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
    color: #c9d2da;
}

.hero__row {
    /* display: flex -> dùng để loại bỏ khoảng trắng ở giữa btn và hero__phone vì thẻ a và thẻ span là thẻ inline hoặc là inline-block thì trong code nó có cái dấu cách hoặc là dấu xuống hàng thì nó sẽ tạo ra 1 khoảng trắng trên giao diện cho nên dùng display: flex để loại bỏ nó || còn align-item: center -> dùng để căn giữa*/
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__phone {
    margin-left: 38px;
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.67;
    color: #fff;
}

.hero__images {
    display: flex;
    align-items: center;
    /* justify-content: flex-end -> đùng để căn 2 ảnh qua bên phải */
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    /* position: relative -> dùng để cho nó nổi lên hơn so với phần tử không được định vị */
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/*============= Service ==============*/
.service {
    padding: 170px 0;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    width: 468px;
    /* margin-left: auto;
    margin-right: auto
    -> dùng để đưa cái service__desc ra chính giữa do mình đặt width nên nó chạy về bên tráicó độ rộng bằng nội dung nó chứa nên koong ra giữa đc vì thế nên dùng margin-left: auto;
    margin-right: auto để dưa nó ra giữa*/
    margin-left: auto;
    margin-right: auto;
}

.service__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service__list {
    margin-bottom: 55px;
}

.service-item {
    display: flex;
    width: 470px;
    padding: 22px;
    border-radius: 10px;
    background: #fff;
    transition: all 0.25s;
}

.service-item:hover {
    /* position: relative -> dùng để định vị và giúp cho nó nổi hơn */
    position: relative;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    background-color: #2e80ce;
    color: #fff;
}

.service-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-shrink: 0 -> dùng để khắc phục cái hình tròn bị méo có gì thử rồi biết chi tiết */
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #10375c;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    background-color: #eff6fd;
    transition: all 0.25s;
}

.service-item__body {
    margin-left: 20px;
}

.service-item__heading {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.27;
    color: #10375c;
}

.service-item__desc {
    margin-top: 8px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    color: #575f66;
}

/*============= Work ==============*/
.work {
    background-color: #f6fbff;
    padding: 100px 0;
}

.work__desc {
    width: 468px;
}

.work__list {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr || repeat(3, 1fr)-> trong thiết kế nó có 3 cột và mỗi cột nó đều nhau */
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 70px;
}

.work-item {
    padding: 44px;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    background: #fff;
    transition: 0.25s;
}

.work-item:hover {
    transform: translateY(-16px);
    border-color: #2e80ce;
}

.work-item__heading {
    margin-top: 18px;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
    color: #10375c;
}

.work-item__desc {
    margin-top: 28px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    color: #575f66;
}

.work-item__more {
    margin-top: 18px;
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #2e80ce;
}

/*============= Features ==============*/
.features {
    margin-top: 85px;
    padding: 65px 0;
}

.features__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features__media {
    width: 48%;
}

.features__images {
    position: relative;
    /* padding-bottom: 121px -> cái này đáng lẽ là để nó ở dưới  .features__img:last-child nhưng để ở dưới đó thì nó có 1 vấn đề đó là các phần tử nằm dưới .features__img:last-child thì nó sẽ bị cái hình đè lên vì .features__img:last-child nó được định vị và nó không va chạm được với các phần tử khác nên sử dụng cách này*/
    padding: 0 58px 121px 0;
}

.features__img {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.features__img:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 332px;
    height: 370px;
}

.features__content {
    width: 40%;
}

.features__cta {
    margin-top: 38px;
}

/*============= Member ==============*/
.member {
    padding: 85px 0;
    text-align: center;
}

.member__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member__cta {
    margin-top: 38px;
}

.member__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    margin-top: 70px;
}

.member__control {
    margin-top: 38px;
    justify-content: center;
}

.member-item:hover .member-item__thumb {
    transform: scale(1.1);
}

.member-item__img-bg {
    padding-top: 28px;
    border-radius: 6px;
    background-color: #eaf6ff;
    /* overflow: hidden -> dùng để cái .member-item__thumb bên trong  nó có dư ra thì nó vẫn bị ẩn đi*/
    overflow: hidden;
}

.member-item__thumb {
    display: block;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
    transition: 0.25s;
}

.member-item__name {
    margin-top: 12px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.75;
    color: #10375c;
}

.member-item__title {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.85;
    color: #575f66;
}

/*============= INstall ==============*/
.install {
    margin-top: 180px;
}

.install__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    border-radius: 4px;
    background: #2e80ce;
}

.install__img {
    margin-top: -95px;
    display: block;
    width: 284px;
    height: 522px;
    object-fit: cover;
}

.install__content {
    max-width: 586px;
}

.install__heading,
.install__desc {
    color: #fff;
}

.install__heading {
    max-width: 489px;
}

.install__row {
    display: flex;
    gap: 28px;
    margin-top: 38px;
}

/*============= News ==============*/
.news {
    margin-top: 85px;
    padding: 85px 0;
}

.news__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news__content {
    flex-shrink: 0;
}

.news__heading {
    max-width: 470px;
}

.news__more {
    margin-top: 28px;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.55;
    text-decoration-line: underline;
    text-underline-offset: 5px;
    color: #10375c;
}

.news__control {
    margin-top: 28px;
}

.news__list {
    display: flex;
    column-gap: 30px;
    max-width: 570px;
}

.news-item {
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
}

.news-item:hover {
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}

.news-item:hover .news-item__img {
    transform: scale(1.1);
}

.news-item:hover .news-item__body {
    border-color: #fff;
}

.news-item__thumb {
    height: 172px;
    overflow: hidden;
}

.news-item__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s;
}

.news-item__body {
    padding: 18px 22px 21px;
    border-radius: 0 0 12px 12px;
    border: 1px solid #e8ebee;
    border-top: none;
    background: #fff;
    transition: 0.25s;
}

.news-item__heading {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.62;
    color: #10375c;
}

.news-item__desc {
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71;
    color: #575f66;
}

.news-item__more {
    display: inline-block;
    margin-top: 12px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8;
    color: 10375c;
}

.news-item__more:hover {
    color: #2e80ce;
}

/*============= Appointment ==============*/
.appointment {
    margin: 85px 0 170px;
}

.appointment__inner {
    padding: 100px 70px;
    background-color: #f6fbff;
    border-radius: 4px;
    text-align: center;
}

.appointment__heading {
    position: relative;
    padding-bottom: 20px;
}

.appointment__heading::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    display: inline-block;
    content: "";
    width: 136px;
    height: 2px;
    background: #2e80ce;
}

.appointment__desc {
    font-size: 1.6rem;
    max-width: 617px;
    margin: 18px auto 38px;
}

/*============= Footer ==============*/
.footer {
    padding-top: 100px;
    background-color: var(--header-bg);
    font-family: "Open Sans", sans-serif;
}

.footer__row {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    column-gap: 78px;
}

.footer__desc {
    margin-top: 20px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    color: #a9b3bb;
}

.footer__heading {
    margin-bottom: 22px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    color: #fff;
}

.footer__list {
    margin-bottom: 28px;
}

.footer__item {
    margin-bottom: 10px;
}

.footer__link {
    color: #a9b3bb;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
    white-space: nowrap;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__social {
    display: flex;
    column-gap: 10px;
    margin-bottom: 28px;
}

.footer__social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #2e80ce;
    background-color: #ffffff;
    transition: 0.25s;
}

.footer__social-btn:hover {
    color: #ffffff;
    background-color: #2e80ce;
}

.footer-form {
    display: flex;
    column-gap: 12px;
    margin-top: 10px;
}

.footer-form__input {
    width: 212px;
    height: 46px;
    padding: 0 10px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #406181;
    color: #fff;
    background-color: transparent;
}

.footer-form__input::placeholder {
    color: #9ca8b1;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.footer-form__submit {
    --height: 46px;

    min-width: 108px;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 600;
}

.footer__copyright {
    border-top: 1px solid #406181;
    padding: 28px 0 42px;
}

.footer__copyright-text {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
    color: #aab3ba;
}
